<div id="<%= dom_id url_shortner %>">
  <p>
    <strong>Given url:</strong>
    <%= url_shortner.given_url %>
  </p>

  <p>
    <strong>Generated url,:</strong>
    <%= url_shortner.generated_url, %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= url_shortner.frequency %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= url_shortner.title %>
  </p>

</div>
